.userFormInput {
    display: grid;
    grid-template-columns: 150px auto;
    margin: 5px;
}
.formWrapper {
    background-color: #eeeae2;
    width: 400px;
    text-align: left;
    padding: 20px;
    border: 1px solid gray;
}
.secondSectionWrapper {
    display: flex;
    justify-content: center;
}
.buttonSize {
    size: 100px;
    width: 160px;
}

.buttonSizeRight {
    size: 100px;
    width: 160px;
}

.perm {
    font-style: oblique;
    font-size: 18px;
    font-weight: 600;
}