.subbutton {
background-color: brown; 
    width: 150px;
    background-color: #edf1fd;
    border-color: #82a6f4;
    color: #4a6ee3;
}
.secondSection {
    background-color: #d5e9f4;
    margin-top: 50px;
border-top: 1px solid gray;
}
.secondSectionTitle {
    font-size: 25px;
    padding: 20px 0px 20px 0px;
    font-size: 30px;
    font-weight: 600;
    color: black;
}
.userFormInput {
    display: grid;
    grid-template-columns: 150px auto;
    margin: 5px;
}